# 기본 라이브러리
fastapi
uvicorn
pydantic
pydantic-settings

# LLM & RAG 관련 라이b브러리
torch
transformers
accelerate
bitsandbytes
langchain
langchain_community

# 데이터 처리 및 벡터 DB
datasets
sentence-transformers
chromadb
pandas
