# 기본 라이브러리
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1

# LLM & RAG 관련 라이브러리
torch==2.2.2
transformers
accelerate==0.29.3
bitsandbytes==0.43.0
langchain
langchain-community
langchain-core
langchain-text-splitters

# 데이터 처리 및 벡터 DB
datasets==2.18.0
sentence-transformers
chromadb==0.4.24
pandas==2.2.2
tqdm==4.66.2

